* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f3f6fb;
}

/* HEADER */
.header {
  background: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  color: #e28a1f;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.btn-login {
  border: 1px solid #653f09;
  padding: 6px 14px;
  border-radius: 6px;
  color: #c6881c;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

/* CARD */
.card {
  background: #fff;
  width: 900px;
  height: 500px;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* LEFT */
.left {
  width: 50%;
  padding: 40px;
}

.tabs {
  display: flex;
  background: #f1f5f9;
  border-radius: 8px;
  margin-bottom: 25px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}

.tabs .active {
  background: #fff;
  border-radius: 8px;
  color: #d08141;
}

.left h2 {
  margin-bottom: 10px;
}

.sub {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(90deg, #af8342, #b06c0c);
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register a {
  color: #c6ac6e;
  text-decoration: none;
}
/* Căn giữa toàn bộ nội dung bên phải */
.right {
  width: 50%;
  background: linear-gradient(180deg, #dba04d, #ad6615);
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* CĂN GIỮA NGANG */
  text-align: center; /* CĂN GIỮA TEXT */
}

/* Icon cà phê */
.tooth i {
  font-size: 60px;
  color: #ffffff; /* MÀU TRẮNG */
  margin-bottom: 15px;
}

/* Tiêu đề */
.right h2 {
  margin-bottom: 10px;
}

/* Mô tả */
.desc {
  margin-bottom: 20px;
  font-size: 14px;
  opacity: 0.95;
}

.right ul {
  list-style: none;
}

.right li {
  margin-bottom: 10px;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ee7943;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn.active {
  background: #ee7943;
}
